parameters:
	level: 9
	paths:
		- src
		- tests/src
	scanDirectories:
		- tests
	ignoreErrors:
		-
			message: "#^Variable property access on \\$this\\(h4kuna\\\\Ares\\\\Ares\\\\Core\\\\Data\\)\\.$#"
			count: 3
			path: src/Ares/Core/Data.php
		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: src/aliases.php

	exceptions: #see https://www.youtube.com/watch?v=UQsP1U0sVZM
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
		implicitThrows: false
		checkedExceptionClasses:
			- h4kuna\Ares\Exception\RuntimeException

includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
